<div class= "upperHeader">
  <h2 id="title">Welcome to DigiDi!</h2>
  <h4 id="header info">Create and share your Digital Profile</h4>
</div>

<div class="lowerHeader">
  <nav>
    <button>{{#link-to 'posts'}}View your Posts{{/link-to}}</button>
  </nav>

</div>


{{outlet}}
